<footer class="footer">
  <a href="https://twitter.com/{{ site.author.twitter }}"
    ><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i
  ></a>
  <a href="https://www.github.com/{{ site.author.github }}"
    ><i class="fa fa-github" aria-hidden="true" target="_blank"></i
  ></a>
  <a href="mailto:{{ site.author.email }}"
    ><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i
  ></a>
  <div class="post-date">
    <a href="{{ site.baseurl }}/">{{ site.title }}<span>{{ site.title2 }}</span></a>
  </div>
  <div class="container" style="text-align: center;">
    <small class="block">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</small>
  </div>
</footer>
