<footer class="footer">
  <div>
    <iframe src="https://vansikaart.substack.com/embed" width="100%" height="320px" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
  </div>
  <a href="https://twitter.com/{{ site.author.twitter }}"
    ><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i
  ></a>
  <a href="https://www.github.com/{{ site.author.github }}"
    ><i class="fa fa-github" aria-hidden="true" target="_blank"></i
  ></a>
  <a href="mailto:{{ site.author.email }}"
    ><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i
  ></a>
  <div>
    <a href="{{ site.baseurl }}/">{{ site.title }}<span>{{ site.title2 }}</span></a>
  </div>
  <div>
    <small class="block">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</small>
  </div>
</footer>
