<div class="menu">
  <div class="menu-content">
    <a href="{{ site.github.url }}/poems.html">Poems</a>
    <a href="{{ site.github.url }}/art.html">Art</a>
    <a href="{{ site.github.url }}/about.html">About Me</a>
  </div>
  <div class="social-icons">
    <a href="https://twitter.com/{{ site.author.twitter }}"
      ><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i
    ></a>
    <a href="https://www.github.com/{{ site.author.github }}"
      ><i class="fa fa-github" aria-hidden="true" target="_blank"></i
    ></a>
    <a href="mailto:{{ site.author.email }}"
      ><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i
    ></a>
  </div>
</div>
